body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  margin-top: 64px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5rem 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}
.card-content {
  flex-grow: 1  ;
}

.price-goods {
  font-size: 1.5rem;
}

.cart {
  position: fixed;
  bottom: 1rem;
  right: 0.5rem;
  border-radius: 1rem;

  cursor: pointer;
  z-index: 5;
  padding: 1rem;

}

@media (min-width: 767px) {
  .cart {
    top: 6.5rem;
    bottom: unset;
  }
}

@media (min-width: 1400px) {
  .brand-logo {
    margin-left: 1rem;
  }

  .cart {
    top: 6.5rem;
    right: 1rem;
  }
}

.basket-list {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  width: 50rem;
  max-width: 95%;

  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);

  animation: show 500ms ease-in-out;
}

.basket-close {
  cursor: pointer;
  position: absolute;
  top: 0.5rem;
  right: 1rem;
}

.remove-cart {
  cursor: pointer;
}

@keyframes show {
  from {
    top: 70%;
    opacity: 0;
  }
  to {
    top: 50%;
    opacity: 1;
  }
}

.basket-quantity {
  cursor: pointer;
  vertical-align: middle;
  color: green;
}

.make-order {
  margin: 0.5rem;
}

.toast-container {
  position: fixed;
  bottom: 8rem;
  right: 1rem;
  z-index: 100;
  opacity: 0.95;
}

@media (min-width: 767px) {
  .toast-container {
    bottom: unset;
    top: 8rem;
  }
}

.toast {
  background-color: green;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: transform 0.3s ease-out;
}

.page-header.hide {
  transform: translateY(-100%);
}

.page-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}

.page-footer.show {
  transform: translateY(0);
  opacity: 1;
}

.page-footer.hide {
  transform: translateY(100%);
  opacity: 0;
}
